<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trabajo ID3 Quorum</title>
    <link rel="icon" type="image/png" href="../static/images/logos/flask.png">
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <script defer src="../static/css/all.js"></script>
</head>
<body>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="../static/images/logos/bulma-logo-white.png" width="112" height="28">
        </a>

        <a class="navbar-item" href="http://flask.pocoo.org/" style="margin-left: 10px">
            <img src="../static/images/logos/logo-flask-recortado.png" width="24" height="40">
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" style="margin-left: 20px">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Inicio
            </a>
            <a class="navbar-item" href="/form">
                Implementación
            </a>

            <a class="navbar-item" href="/testing">
                Pruebas
            </a>

        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="/about">
                Acerca de..
            </a>
        </div>
    </div>
</nav>


<section class="section">
    <div class="container is-fullhd">
        <div class="notification">
            <p class="is-size-3">Autores</p>
            <p class="is-size-6"> César García Pascual<br>
                Julián Carrascosa Cosano<br><br></p>
            <p class="is-size-3">Tutor</p>
            <p class="is-size-6"> Agustín Riscos Núñez<br><br><br></p>
            <p class="is-size-3">Librerias utilizado</p>
            <p class="is-size-5"><strong>Bulma</strong></p>
            <p class="is-size-6">Bulma es un framework de CSS de codigo libre basado en Flexbox, que es un modelo
                unidimensional de layout, que distribuye el espacio entre los ítems de una interfaz y mejorar las
                capacidades de alineación</p>
            <br>
            <p class="is-size-5"><strong>Flask</strong></p>
            <p class="is-size-6">Flask es un framework minimalista escrito en Python que permite crear aplicaciones web
                rápidamente y con un mínimo número de líneas de código</p>
            <br>
            <p class="is-size-5"><strong>Matplotlib</strong></p>
            <p class="is-size-6">Matplotlib es librería de gráficos python en 2D que produce cifras de calidad de
                publicación en una variedad de formatos de papel y entornos interactivos en todas las plataformas</p>
            <br>

            <p class="is-size-5" align="right">28/06/2019</p>
        </div>
    </div>
</section>
</body>
</html>