<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Introduzca los datos</title>
    <link rel="icon" type="image/png" href="../static/images/logos/flask.png">
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <script defer src="../static/css/all.js"></script>
</head>
<body>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="../static/images/logos/bulma-logo-white.png" width="112" height="28">
        </a>

        <a class="navbar-item" href="http://flask.pocoo.org/" style="margin-left: 10px">
            <img src="../static/images/logos/logo-flask-recortado.png" width="24" height="40">
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" style="margin-left: 20px">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Inicio
            </a>

            <a class="navbar-item" href="/form">
                Implementación
            </a>

            <a class="navbar-item" href="/testing">
                Pruebas
            </a>

            <a class="navbar-item" href="/graph">
                Grafo
            </a>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="/about">
                Acerca de..
            </a>
        </div>
    </div>
</nav>


<section class="section">
    <div class="container is-fullhd">
        <div class="notification">
            <h1 class="is-size-4" style="margin-bottom: 20px">Rellene el formulario y pulse continuar para ver los
                resultados.</h1>
            <form action="/form" method="post">

                <label class="label">Conjunto de datos</label>
                <div class="select" style="width: 100%; margin-bottom: 20px">
                    <select name="dataset" style="width: 100%;" required>
                        <option value="">Seleccione el conjunto</option>
                        <option value="ttt">Tic Tac Toe (958 ejemplos)</option>
                        <option value="car">Coches (1594 ejemplos)</option>
                        <option value="krkp">KR vs KP (3196 ejemplos)</option>
                        <option value="ex">Ejercicio boletin (10 ejemplos) para visualizar árbol</option>
                    </select>
                </div>

                <div class="field">
                    <label class="label">Conjunto de entrenamiento (Porcentaje para dividir entrenamiento y
                        prueba)</label>
                    <div class="control">
                        <input class="input" type="number" name="train" value="80"
                               placeholder="Porcentaje de los datos para entrenamiento" required>
                    </div>
                    <label class="checkbox" style="margin-top: 10px">
                      <input type="checkbox" name="shuffle">
                      ¿Barajar?
                    </label>
                </div>

                <div class="field">
                    <label class="label">Quorum (Un valor entero o un porcentaje del total de ejemplos)</label>
                    <div class="control">
                        <input class="input" type="number" name="quorum" placeholder="Quorum" required>
                    </div>
                </div>
                <div class="field" style="margin-bottom: 20px">
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="quorum_type" value="int" checked>
                            Entero
                        </label>
                        <label class="radio">
                            <input type="radio" name="quorum_type" value="percent">
                            Porcentual
                        </label>
                    </div>
                </div>

                <div class="field" style="margin-bottom: 30px">
                    <label class="label">Suavizado Naive Bayes(K)</label>
                    <div class="control">
                        <input class="input" type="number" name="k" value="0" placeholder="Valor para la K" required>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" type="submit">Continuar</button>
                    </div>
                    <div class="control">
                        <a class="button is-text" href="/">Atrás</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>