<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trabajo ID3 Quorum</title>
    <link rel="icon" type="image/png" href="../static/images/logos/flask.png">
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <script defer src="../static/css/all.js"></script>
</head>
<body>
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="../static/images/logos/bulma-logo-white.png" width="112" height="28">
        </a>

        <a class="navbar-item" href="http://flask.pocoo.org/" style="margin-left: 10px">
            <img src="../static/images/logos/logo-flask-recortado.png" width="24" height="40">
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" style="margin-left: 20px">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Inicio
            </a>
            <a class="navbar-item" href="/form">
                Implementación
            </a>

        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="/about">
                Acerca de..
            </a>
        </div>
    </div>
</nav>


<section class="section">
    <div class="container is-fullhd">
        <div class="notification">
            <p class="is-size-2">Grande</p>
            <p class="is-size-6">Pequeño</p>
            <p><strong>Negrita</strong> <i>cursiva</i><sub>subindice</sub><sup>superindice</sup></p>
            <p class="is-size-1">Escribir <strong>introducción</strong> a la página.</p>
        </div>
    </div>
</section>
</body>
</html>